.pulseHeart {
  font-size: 30px; /* Dimensiunea inimii */
  color: red; /* Culoarea roșie */
  display: inline-block;
  animation: pulse 2s infinite ease-in-out; /* Animația de pulsare */
}

/* Definirea animației de pulsare */
@keyframes pulse {
  0% {
    transform: scale(0.7); /* Dimensiunea inițială */
  }
  50% {
    transform: scale(1); /* Mărește inima */
  }
  100% {
    transform: scale(0.7); /* Reveniți la dimensiunea inițială */
  }
}

