.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .username {
    font-size: 1.2em;
    color: #fff;
  }
  
  .logoutButton {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logoutButton:hover {
    background-color: #e53e3e;
  }